{% extends "poll/base.html" %}

{% block title %}Candidate{% endblock %}

{% block content %}


  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-danger" role="alert">
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}
<body style="background-color:LightCyan;">
  <h2 style="color:black;">Available Candidates of {{ obj.title }}</h2>
  <form action="" method="POST">
    {% csrf_token %}
    {% for c in obj.candidate_set.all %}
       <!--<input type="radio" name="{{ c.position}}" value="{{c.id}}" required> <strong>{{c.name}} <a href="{% url 'detail' c.id %}">Detail</a></strong>
     <br>--> 
     <div class="custom-control custom-radio">
      <input type="radio" id="id_{{c.id}}" name="{{ c.position}}" value="{{c.id}}" class="custom-control-input" required>
      <label class="custom-control-label" for="id_{{c.id}}">{{c.name}} <a href="{% url 'detail' c.id %}">Detail</a></label>
    </div>
    {% empty %}
      <p style="color:white;">No Candidates Available</p>
    {% endfor %}
    <br><input type="submit" class="btn btn-outline-success btn-lg" value="VOTE">
  </form>
  <br><p><a href="{% url 'position' %}">Back to Poll</a></p>
  
{% endblock %}