{% extends "poll/base.html" %}
{% block title %}Contact us{% endblock title %}

{% block body %}
<div class="container-fluid px-0">
    <img src="https://source.unsplash.com/1200x400/?laptops,computer" 
    class="d-block w-100 mx-0" alt="...">
    </div>
    <h1 class="text-center my-2">Contact Us</h1>
<div class="container">
<form method="POST" action="/contact">
{% csrf_token %}
<div class="form-group">
    <label for="name" class="form-label">Name</label>
    <input type="text" class="form-control" id="name" name="name" placeholder="Enter your good name">

  </div>
  <div class="form-group">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email" placeholder="Enter your email address">
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>
  <div class="form-group">
    <label for="phone" class="form-label">Phone</label>
    <input type="phone" class="form-control" id="phone" name="phone" placeholder="Enter your phone no.">
  </div>
  
<div class="form-group">
  <label for="name" class="form-label">Please Tell us your viwes</label>
  <textarea class="form-control" id="name" rows="3" name="desc"></textarea>
</div>
<div class="form-group">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
  
</form>
{% endblock body %}