{% extends "poll/base.html" %}

{% block title %}Change Password{% endblock %}

{% block content %}
{% load widget_tweaks %}
<div class="jumbotron">
  <h3>Password Change Form</h3>
  <form action="." method="post">
    {% csrf_token %}
    {% for field in form %}
      <div class="form-group">

        {% if field.errors %}
          {% for error in field.errors %}
            <ul>
              <li>{{error}}</li>
            </ul>
          {% endfor %}
        {% endif %}

        {{ field.label_tag }}
        {% render_field field class="form-control" %}
        {% if field.help_text %}
          <small class="form-text text-muted">{{field.help_text}}</small>
        {% endif %}
      </div>
    {% endfor %}
    <input type="submit" class="btn btn-sm btn-primary" value="Update">
  </form>
</div>

{% endblock %}